* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(images/spices.jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 4.75em 0.625em 0;
}

#search {
  width: 100%;
  padding: 0.75em 1.25em;
  border: 1px solid #ddd;
  margin-bottom: 0.75em;
  outline: none;
}

#list {
  list-style: none;
}

#list li {
  border: 1px solid #ddd;
  padding: 0.75em;
  background-color: #f6f6f6;
  display: block;
}

#list li:hover {
  background-color: #eee;
}
